.border{
    @include transform(75deg);
    @extend %position-a-center;
    width: 400px;
    height: 400px;
    background: transparent;
    border: 7px solid $color-red;
    z-index: 1;
    @media screen and (max-width:1390px) , (max-height:780px) {
        width: calc(400px - ((400px/100%)*30%));
        height: calc(400px - ((400px/100%)*30%));
    }
}