$color-red: #AE0000;
$color-blue: #00A2E1;
$color-backGD: #161616;
$color-loader: $color-red;
$color-someW: #F5F5F1;
$transition: 0.5s;
$ff-TTFist: 'TT Firs Neue';
$ff-UnitedSansHeavy: 'United Sans Heavy';
$ff-UnitedSansLite: 'United Sans Lite';
$ff-UnitedSansBold: 'United Sans Bold';
$ff-UnitedSansBlack: 'United Sans Black';
$ff-UnitedSansMedium: 'United Sans Medium';
$position-relative: relative;

%position-a-center {
    position: absolute;
    top: 50%;
    left: 50%;
}

@mixin transform($property) {
    transform: translate(-50%, -50%) rotate($property);
}

@mixin flex($j-content: center, $a-items: center, $f-direction: row) {
    display: flex;
    justify-content: $j-content ;
    align-items: $a-items ;
    flex-direction: $f-direction ;
}

%size-block {
    width: 100%;
    height: 100vh;
}

%h2-font {
    font-size: 62px;
    font-family: 'TT Firs Neue';
    font-weight: 700;
    line-height: 80px;
    text-transform: uppercase;
    color: $color-someW;
    text-align: center;

    @media screen and (max-width:1390px) {
        font-size: calc(45px + 17px * (100vh / 1440px));
    }
}

%subtitle {
    text-align: center;

    position: absolute;
    font-family: "TT Firs Neue";
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    width: 100%;
    left: 50%;
    bottom: 7%;

    @media screen and (max-width:1390px) {
        font-size: calc(14px + 12px * (100vh / 1440px));
        bottom: 5%;
    }

    transform: translateX(-50%);
}